@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header {
    background: #1B83E2;
    height: 66px;
    width: 100vw;
}
header h1{
    color: #F4F4F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
    text-align: center;
}
body {
    background: #F4F4F4;
}
.container {
    background: #F4F4F4;
    width: 100vw;
    height: 100%;
    padding-bottom: 20px;
}
label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 23px 0px 6px 24px;
    color: #777777;
}
select, button, input {
    display: block;
    width: calc(100vw - 48px);
    height: 48px;
    color: #555;
    font-weight: 700;
    margin-top: 6px;
    background-color: #fff;
}
select, input {
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    appearance: none;
    outline: none;
}
span {
    color: #555;
    font-weight: bold;
}

button {
    text-align: center;
    margin: 24px auto 36px auto;
    background: #1B83E2;
    border-radius: 25px;
    border: none;
    color: #F4F4F4;
    font-size: 16px;
    font-weight: 700;
}

::placeholder{
    color: #555;
}

.result {
    display: block;
    margin: 0 auto 0 auto;
    height: 290px;
    width: calc(100vw - 48px);
    border: 1px solid #1B83E2;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

.flag {
    display: block;
    margin: 12px auto 4px;
}
.flag2 {
    display: block;
    margin: 13px auto 4px;
}

p {
    margin: 0 auto 2px;
    color: #777777;
    font-size: 14px;
}
.values {
    color: #1B83E2;
    font-size: 20px;
    font-weight: 700;
}
.values1{
    margin-bottom: 15px;
    color: #1B83E2;
    font-size: 20px;
    font-weight: 700;
}