@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    background: #d3d3d3;
    width: 100vw;
    max-width: 100%;
}

header {
    background: #1B83E2;
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: #F4F4F4;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

.container {
    background: #F4F4F4;
    padding-bottom: 20px;
}

label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 2.3rem 0rem 0.6rem 2.4rem;
    color: #777777;
}
select, button, input {
    display: block;
    width: calc(100% - 4.8rem);
    height: 4.8rem;
    color: #555;
    font-weight: 700;
    margin-top: 0.6rem;
    background-color: #fff;
}
select, input {
    padding-left: 1.6rem;
    border-radius: 0.4rem;
    border: 1px solid #BBBBBB;
    appearance: none;
    outline: none;
    width: 93%;
}
span {
    color: #555;
    font-weight: bold;
}

button {
    text-align: center;
    margin: 2.4rem auto 3.6rem auto;
    background: #1B83E2;
    border-radius: 2.5rem;
    border: none;
    color: #F4F4F4;
    font-size: 1.6rem;
    font-weight: 700;
}

::placeholder{
    color: #555;
}

.result {
    display: block;
    margin: 0 auto 0 auto;
    height: 29rem;
    width: calc(100% - 48px);
    border: 1px solid #1B83E2;
    box-sizing: border-box;
    border-radius: 0.4rem;
    text-align: center;
}

.flag {
    display: block;
    margin: 1.2rem auto 0.4rem;
}
.flag2 {
    display: block;
    margin: 1.3rem auto 0.4rem;
}

p {
    margin: 0 auto 2px;
    color: #777777;
    font-size: 1.4rem;
}
.finalValue {
    color: #1B83E2;
    font-size: 2rem;
    font-weight: 700;
}
.initialValue{
    margin-bottom: 1.5rem;
    color: #1B83E2;
    font-size: 2rem;
    font-weight: 700;
}

button:hover {
    opacity: 0.8;
}
button:active{
    opacity: 0.5;
}

@media screen and (min-width: 426px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px){
    .container {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1441px){
    .container {
        width: 50%;
        margin: 0 auto;
    }

    header h1 {
        font-size: 4rem;
    }

    label {
        font-size: 2.4rem;
    }

    select, button, input {
        height: 6rem;
        font-size: 2rem;
    }

    button {
        margin: 2.3rem 2rem 3.6rem;
        width: 94%;
        font-size: 3rem;
    }

    input::placeholder {
        font-size: 2rem;
    }
}